<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../../static/css/auth.css" />
</head>

<body>
    <section class="container">
        <header>Register</header>
        <form action="#" class="form">
            <div class="input-box">
                <label>Username</label>
                <input type="text" placeholder="Username" required />
            </div>

            <div class="input-box">
                <label>Email Address</label>
                <input type="email" placeholder="Email Address" required />
            </div>

            <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Password" required />
            </div>

            <div class="input-box">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm password" required />
            </div>
            <div class="column spacer">
                <div class="input-social">
                    <img class="social" src="../../static/svgs/1298745_google_brand_branding_logo_network_icon.svg"
                        alt="" srcset="">
                    <p>Sign Up with Google</p>
                </div>
                <div class="input-social">
                    <img class="social" src="../../static/svgs/5296499_fb_facebook_facebook logo_icon.svg" alt=""
                        srcset="">
                    <p>Sign Up with FaceBook</p>
                </div>
            </div>


            <button>Submit</button>
        </form>
    </section>
</body>

</html>