<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <header class="card">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <h1>Forum</h1>
                </a>
            </div>
            <!-- <div class="search-bar">
            <input type="text" placeholder="Search discussions..." class="form-input" />
          </div> -->
            <div class="header-actions">
                {{if .IsLoggedIn}}
                <div class="user-menu">
                    <span class="username">Welcome, {{.Username}}</span>
                    <a href="/logout">
                        <button class="btn" id="logout-btn">Logout</button>
                    </a>
                </div>
                {{else}}
                <a href="/login">
                    <button class="btn" id="login-btn">Login</button>
                </a>
                <a href="/register">
                    <button class="btn" id="register-btn">Register</button>
                </a>
                {{end}}
            </div>
        </div>
    </header>


    <div class="post-card-details">
        <div class="post-header">
            <div class="post-meta">
               <h1><span class="post-author">{{.Post.Username}}</span></h1>
                <h2><span class="post-date">{{.Post.CreatedAt.Format "Jan 02, 2006 15:04"}}</span></h2>
            </div>
            <div class="post-categories">
                {{range .Post.Categories}}
                <span class="category-tag">{{.Name}}</span>
                {{end}}
            </div>
            <h2 class="post-title">{{.Post.Title}}</h2>
        </div>
        <div class="post-content">
            <p>{{.Post.Content}}</p>
        </div>
        {{if .ImageName}}
        <div class="post-image">
            <img src="../static/post_images/{{ .ImageName }}" alt="{{.Title}}" />
        </div>
        {{end}}
        <div class="post-actions">
            <a href="/post/like?post_id={{.PostID}}">
                <button class="btn btn-like {{if .IsLiked}}liked{{end}}">
                    <i class="fa-{{if .IsLiked}}solid{{else}}regular{{end}} fa-thumbs-up"></i>
                    {{.LikesCount}}
                </button>
            </a>
            <a href="/post/dislike?post_id={{.PostID}}">
                <button class="btn btn-like {{if .IsDisliked}}disliked{{end}}">
                    <i class="fa-{{if .IsDisliked}}solid{{else}}regular{{end}} fa-thumbs-down"></i>
                    {{.DislikesCount}}
                </button>
            </a>
            <button class="action-btn">
                <i class="fa-regular fa-comment"></i>{{.CommentsCount}}
            </button>
        </div>
    </div>

    <div class="new-comment">
        <form action="/comment" method="POST" class="comment-form" onsubmit="return validateCommentForm(event)">
            <input type="hidden" name="post_id" value="{{.PostID}}" />
            <textarea name="comment" class="comment-input" placeholder="Write a comment..."></textarea>
            <button class="submit-btn">Comment</button>
        </form>
    </div>

    <div class="comments-section">
        {{if len .Comments}} {{range .Comments}}
        <div class="comment-card">
            <div class="post-meta">
                <span class="post-author">{{.Username}}</span>
                <span class="post-date">{{.CreatedAt.Format "Jan 02, 2006 15:04"}}</span>
            </div>
            <div class="post-content">{{.Content}}</div>
            <a href="/comment/like?comment_id={{.Comment_ID}}">
                <button class="btn btn-like {{if .IsLiked}}liked{{end}}">
                    <i class="fa-{{if .IsLiked}}solid{{else}}regular{{end}} fa-thumbs-up"></i>
                    {{.LikesCount}}
                </button>
            </a>
            <a href="/comment/dislike?comment_id={{.Comment_ID}}">
                <button class="btn btn-like {{if .IsDisliked}}disliked{{end}}">
                    <i class="fa-{{if .IsDisliked}}solid{{else}}regular{{end}} fa-thumbs-down"></i>
                    {{.DislikesCount}}
                </button>
            </a>
        </div>
        {{end}} {{else}}
        <div class="post-card">
            <p>No comments available yet. Be the first to create one!</p>
        </div>
        {{end}}
    </div>
    <script src="../static/js/time.js"></script>
</body>

</html>